.screen {
  header {
    position: sticky;
    top: -1px;
    background-color: var(--color-01dp);
    padding: 0 12px;
    margin: 36px 0 0 0;
    height: 36px;

    h1 {
      margin: 0;
      padding: 0;
      line-height: 36px;
      width: 0;
      white-space: nowrap;
      text-align: center;
      transition: width 1s, font-size 1s;
      display: block;
    }

    &.stuck {
      h1 {
        font-size: 1rem;
        width: 100%;
      }
    }
  }
}
