* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

:root {
  --vh: 1vh;
}

// this helper allows containers to be 100% viewport height ignoring any borders and chromes
.full-height {
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}
